In [1]:
import os, sys
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(filepath_or_buffer='./australian_postcodes.csv')

In [24]:
data_df = pd.read_csv(filepath_or_buffer='./aus_vehicle_prices_cleaned.csv')

In [48]:
suburb_title_boolean = data_df['suburb'].dropna().str.istitle()
suburb_title_boolean[suburb_title_boolean == False]

416      False
488      False
495      False
504      False
582      False
         ...
15341    False
15390    False
15633    False
16140    False
16258    False
Name: suburb, Length: 112, dtype: bool

In [23]:
df.loc[(df['locality'] == 'OVINGHAM') & (df['state'] == 'SA') , ['lat', 'long']]

             lat        long
13948 -34.886018  138.587083

In [65]:
data_df

,Unnamed: 0,brand,year,model,used_or_new,transmission,drive_type,fuel_type,fuel_consumption,kilometres,cylinders,body_type,doors,seats,price,cylinder_capacity,exterior_clr,suburb,state
0,0,Hyundai,2015.0,Tucson,USED,Automatic,Front,Unleaded,7.9 L / 100 km,94377.0,4.0,SUV,4.0,5.0,23888.0,2.0,Grey,Mcgraths Hill,NSW
1,1,Hyundai,2020.0,Tucson,USED,Automatic,Front,Unleaded,7.9 L / 100 km,38341.0,4.0,SUV,4.0,5.0,28984.0,2.0,Blue,Granville,NSW
2,2,Hyundai,2019.0,Tucson,USED,Automatic,Front,Unleaded,7.9 L / 100 km,104066.0,4.0,SUV,4.0,5.0,26990.0,2.0,White,Singleton,NSW
3,3,Hyundai,2018.0,Tucson,USED,Automatic,Front,Unleaded,7.9 L / 100 km,88501.0,4.0,SUV,4.0,5.0,26495.0,2.0,Silver,Berwick,VIC
4,4,Hyundai,2019.0,Tucson,USED,Automatic,Front,Unleaded,7.9 L / 100 km,23126.0,4.0,SUV,4.0,5.0,34990.0,2.0,Black,Warwick Farm,NSW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16665,16665,BMW,2015.0,225I,USED,Automatic,Front,Premium,6.1 L / 100 km,46232.0,4.0,Hatchback,4.0,5.0,28990.0,2.0,Blue,Five Dock,NSW
16666,16666,Kia,2014.0,RIO,USED,Manual,Front,Unleaded,5.6 L / 100 km,231137.0,4.0,Hatchback,3.0,5.0,10499.0,1.4,White,Ringwood,VIC
16667,16667,Honda,1998.0,Civic,USED,Automatic,Front,Unleaded,8.4 L / 100 km,206276.0,4.0,Hatchback,3.0,5.0,7387.0,1.6,Silver,Ringwood,VIC
16668,16668,Alfa,2014.0,Romeo,USED,Automatic,Front,Premium,5.5 L / 100 km,215977.0,4.0,Hatchback,3.0,5.0,8999.0,1.4,Grey,Laverton North,VIC
16669,16669,Toyota,2008.0,Yaris,USED,Manual,Front,Unleaded,6 L / 100 km,35000.0,4.0,Hatchback,3.0,5.0,11990.0,1.3,NaN,Toowoomba,QLD

## Lat and Long extraction from suburb

In [58]:
df

,id,postcode,locality,state,long,lat,dc,type,status,sa3,...,altitude,chargezone,phn_code,phn_name,lgaregion,lgacode,electorate,electoraterating,sed_code,sed_name
0,230,200,Anu,ACT,149.119000,-35.277700,NaN,NaN,Updated 3-Dec-2022,NaN,...,NaN,N2,NaN,NaN,Unincorporated ACT,89399.0,Durack,NaN,NaN,NaN
1,21820,200,Australian National University,ACT,149.118900,-35.277700,NaN,NaN,Updated 3-Dec-2022,NaN,...,NaN,N2,NaN,NaN,Unincorporated ACT,89399.0,Durack,NaN,NaN,NaN
2,232,800,Darwin,NT,130.836680,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,NaN,NT1,PHN701,Northern Territory,Darwin Waterfront Precinct,71150.0,Solomon,Inner Metropolitan,70022.0,Port Darwin
3,24049,800,Darwin City,NT,130.836680,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,NaN,NT1,PHN701,Northern Territory,Darwin Waterfront Precinct,71150.0,Solomon,Inner Metropolitan,70022.0,Port Darwin
4,233,801,Darwin,NT,130.836680,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,NaN,NT1,PHN701,NaN,Darwin,71000.0,Lingiari,Rural,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18521,11186,9013,Brisbane,QLD,152.823141,-27.603479,CITY DC - BRISBANE,LVR,Updated 25-Mar-2020 SA3,30504.0,...,44.349792,Q1,PHN301,NaN,Brisbane,31000.0,Griffith,NaN,NaN,NaN
18522,11187,9015,Brisbane,QLD,152.823141,-27.603479,CITY DC - BRISBANE,LVR,Updated 25-Mar-2020 SA3,30504.0,...,44.349792,Q1,PHN301,NaN,Brisbane,31000.0,Griffith,NaN,NaN,NaN
18523,11196,9464,Northgate Mc,QLD,153.074982,-27.397055,NaN,NaN,Updated 25-Mar-2020 SA3,30203.0,...,NaN,Q1,PHN301,NaN,Brisbane,31000.0,Griffith,NaN,NaN,NaN
18524,11197,9726,Gold Coast Mc,QLD,153.412197,-28.008783,NaN,NaN,Updated 25-Mar-2020 SA3,30910.0,...,NaN,Q1,PHN303,NaN,Gold Coast,33430.0,McPherson,NaN,NaN,NaN
18525,23878,9999,North Pole,VIC,144.956776,-37.817403,CITY DELIVERY CENTRE,Delivery Area,Added 1-July-2021,20604.0,...,15.244751,NaN,NaN,NaN,Melbourne,24600.0,Macnamara,NaN,NaN,NaN

In [57]:
df['locality'] = df['locality'].str.title()

In [59]:

lambda state: (
    "Victoria" if state == 'VIC' else
    "New South Wales" if state == 'NSW' else
    "Queensland" if state == 'QLD' else
    'South Australia' if state == 'SA' else
    'Western Australia' if state == 'WA' else
    'Australian Capital Territory' if state == 'ACT' else
    'Northern Territory' if state == 'NT' else
    'Tasmania' if state == 'TAS' else
    'NaN'
)

# df['state'] = df

In [61]:
df['state'] = df['state'].apply(lambda state: (
    "Victoria" if state == 'VIC' else
    "New South Wales" if state == 'NSW' else
    "Queensland" if state == 'QLD' else
    'South Australia' if state == 'SA' else
    'Western Australia' if state == 'WA' else
    'Australian Capital Territory' if state == 'ACT' else
    'Northern Territory' if state == 'NT' else
    'Tasmania' if state == 'TAS' else
    'NaN'
))

In [62]:
df

,id,postcode,locality,state,long,lat,dc,type,status,sa3,...,altitude,chargezone,phn_code,phn_name,lgaregion,lgacode,electorate,electoraterating,sed_code,sed_name
0,230,200,Anu,Australian Capital Territory,149.119000,-35.277700,NaN,NaN,Updated 3-Dec-2022,NaN,...,NaN,N2,NaN,NaN,Unincorporated ACT,89399.0,Durack,NaN,NaN,NaN
1,21820,200,Australian National University,Australian Capital Territory,149.118900,-35.277700,NaN,NaN,Updated 3-Dec-2022,NaN,...,NaN,N2,NaN,NaN,Unincorporated ACT,89399.0,Durack,NaN,NaN,NaN
2,232,800,Darwin,Northern Territory,130.836680,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,NaN,NT1,PHN701,Northern Territory,Darwin Waterfront Precinct,71150.0,Solomon,Inner Metropolitan,70022.0,Port Darwin
3,24049,800,Darwin City,Northern Territory,130.836680,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,NaN,NT1,PHN701,Northern Territory,Darwin Waterfront Precinct,71150.0,Solomon,Inner Metropolitan,70022.0,Port Darwin
4,233,801,Darwin,Northern Territory,130.836680,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,NaN,NT1,PHN701,NaN,Darwin,71000.0,Lingiari,Rural,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18521,11186,9013,Brisbane,Queensland,152.823141,-27.603479,CITY DC - BRISBANE,LVR,Updated 25-Mar-2020 SA3,30504.0,...,44.349792,Q1,PHN301,NaN,Brisbane,31000.0,Griffith,NaN,NaN,NaN
18522,11187,9015,Brisbane,Queensland,152.823141,-27.603479,CITY DC - BRISBANE,LVR,Updated 25-Mar-2020 SA3,30504.0,...,44.349792,Q1,PHN301,NaN,Brisbane,31000.0,Griffith,NaN,NaN,NaN
18523,11196,9464,Northgate Mc,Queensland,153.074982,-27.397055,NaN,NaN,Updated 25-Mar-2020 SA3,30203.0,...,NaN,Q1,PHN301,NaN,Brisbane,31000.0,Griffith,NaN,NaN,NaN
18524,11197,9726,Gold Coast Mc,Queensland,153.412197,-28.008783,NaN,NaN,Updated 25-Mar-2020 SA3,30910.0,...,NaN,Q1,PHN303,NaN,Gold Coast,33430.0,McPherson,NaN,NaN,NaN
18525,23878,9999,North Pole,Victoria,144.956776,-37.817403,CITY DELIVERY CENTRE,Delivery Area,Added 1-July-2021,20604.0,...,15.244751,NaN,NaN,NaN,Melbourne,24600.0,Macnamara,NaN,NaN,NaN

In [55]:
suburb, state = 'OVINGHAM', 'SOUTH AUSTRALIA'
suburb = suburb.title()
state = state.title()
df.loc[(df['locality'] == suburb) & (df['state'] == state ), ['lat', 'long'] ]

Empty DataFrame
Columns: [lat, long]
Index: []

In [66]:
df.rename(columns={'locality': 'suburb'}, inplace=True)

In [86]:

df.loc[(df['suburb'].str.istitle() == False)]

Empty DataFrame
Columns: [id, postcode, suburb, state, long, lat, dc, type, status, sa3, sa3name, sa4, sa4name, region, Lat_precise, Long_precise, SA1_CODE_2021, SA1_NAME_2021, SA2_CODE_2021, SA2_NAME_2021, SA3_CODE_2021, SA3_NAME_2021, SA4_CODE_2021, SA4_NAME_2021, RA_2011, RA_2016, RA_2021, RA_2021_NAME, MMM_2015, MMM_2019, ced, altitude, chargezone, phn_code, phn_name, lgaregion, lgacode, electorate, electoraterating, sed_code, sed_name]
Index: []

[0 rows x 41 columns]

In [88]:
df.to_csv(path_or_buf= './australian_postcodes_cleaned.csv')

In [81]:
data_df['suburb'].str.istitle() == 'False'

0        False
1        False
2        False
3        False
4        False
         ...
16665    False
16666    False
16667    False
16668    False
16669    False
Name: suburb, Length: 16670, dtype: bool

In [84]:


data_df.loc[(data_df['suburb'].str.istitle() == False)]

,Unnamed: 0,brand,year,model,used_or_new,transmission,drive_type,fuel_type,fuel_consumption,kilometres,cylinders,body_type,doors,seats,price,cylinder_capacity,exterior_clr,suburb,state
416,416,Nissan,2018.0,Qashqai,USED,Automatic,Front,Unleaded,6.9 L / 100 km,37638.0,4.0,SUV,4.0,5.0,26880.0,2.0,White,SOUTH MELBOURNE,VIC
488,488,Toyota,2018.0,RAV4,USED,Automatic,Front,Unleaded,7 L / 100 km,31233.0,4.0,SUV,4.0,5.0,35990.0,2.0,White,CAMBERWELL,VIC
495,495,Toyota,2018.0,RAV4,USED,Automatic,Front,Unleaded,7.4 L / 100 km,96687.0,4.0,SUV,4.0,5.0,34888.0,2.0,Blue,HEIDELBERG,VIC
504,504,Toyota,2018.0,RAV4,USED,Automatic,Front,Unleaded,7 L / 100 km,82084.0,4.0,SUV,4.0,5.0,30950.0,2.0,Blue,HEIDELBERG,VIC
582,582,Kia,2019.0,Sportage,USED,Automatic,Front,Unleaded,7.9 L / 100 km,47897.0,4.0,SUV,4.0,5.0,31880.0,2.0,Silver,SOUTH MELBOURNE,VIC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15341,15341,Mazda,2017.0,3,USED,Automatic,Front,Unleaded,6.1 L / 100 km,52775.0,4.0,Hatchback,5.0,5.0,28888.0,2.5,Blue,HEIDELBERG,VIC
15390,15390,Toyota,2016.0,Yaris,USED,Manual,Front,Unleaded,5.7 L / 100 km,37413.0,4.0,Hatchback,5.0,5.0,17988.0,1.3,Yellow,KINGSLEY,WA
15633,15633,Holden,2012.0,Barina,USED,Automatic,Front,Unleaded,7.6 L / 100 km,93078.0,4.0,Hatchback,5.0,5.0,13888.0,1.6,Grey,HEIDELBERG,VIC
16140,16140,Toyota,2021.0,Corolla,USED,Automatic,Front,Unleaded,6 L / 100 km,15958.0,4.0,Hatchback,5.0,5.0,33888.0,2.0,White,HEIDELBERG,VIC
16258,16258,Mazda,2015.0,3,USED,Automatic,Front,Unleaded,5.8 L / 100 km,80000.0,4.0,Hatchback,5.0,5.0,16888.0,2.0,Red,SOUTH MELBOURNE,VIC