In [1]:
import os, sys
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(filepath_or_buffer='./australian_postcodes.csv')

In [24]:
data_df = pd.read_csv(filepath_or_buffer='./aus_vehicle_prices_cleaned.csv')

In [48]:
suburb_title_boolean = data_df['suburb'].dropna().str.istitle()
suburb_title_boolean[suburb_title_boolean == False]

416      False
488      False
495      False
504      False
582      False
         ...
15341    False
15390    False
15633    False
16140    False
16258    False
Name: suburb, Length: 112, dtype: bool

In [23]:
df.loc[(df['locality'] == 'OVINGHAM') & (df['state'] == 'SA') , ['lat', 'long']]

             lat        long
13948 -34.886018  138.587083

In [27]:
data_df['suburb'].str.iscap

## Lat and Long extraction from suburb

In [52]:
df

,id,postcode,locality,state,long,lat,dc,type,status,sa3,...,altitude,chargezone,phn_code,phn_name,lgaregion,lgacode,electorate,electoraterating,sed_code,sed_name
0,230,200,ANU,ACT,149.119000,-35.277700,NaN,NaN,Updated 3-Dec-2022,NaN,...,NaN,N2,NaN,NaN,Unincorporated ACT,89399.0,Durack,NaN,NaN,NaN
1,21820,200,Australian National University,ACT,149.118900,-35.277700,NaN,NaN,Updated 3-Dec-2022,NaN,...,NaN,N2,NaN,NaN,Unincorporated ACT,89399.0,Durack,NaN,NaN,NaN
2,232,800,DARWIN,NT,130.836680,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,NaN,NT1,PHN701,Northern Territory,Darwin Waterfront Precinct,71150.0,Solomon,Inner Metropolitan,70022.0,Port Darwin
3,24049,800,DARWIN CITY,NT,130.836680,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,NaN,NT1,PHN701,Northern Territory,Darwin Waterfront Precinct,71150.0,Solomon,Inner Metropolitan,70022.0,Port Darwin
4,233,801,DARWIN,NT,130.836680,-12.458684,NaN,NaN,Updated 3-Dec-2022,70101.0,...,NaN,NT1,PHN701,NaN,Darwin,71000.0,Lingiari,Rural,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18521,11186,9013,BRISBANE,QLD,152.823141,-27.603479,CITY DC - BRISBANE,LVR,Updated 25-Mar-2020 SA3,30504.0,...,44.349792,Q1,PHN301,NaN,Brisbane,31000.0,Griffith,NaN,NaN,NaN
18522,11187,9015,BRISBANE,QLD,152.823141,-27.603479,CITY DC - BRISBANE,LVR,Updated 25-Mar-2020 SA3,30504.0,...,44.349792,Q1,PHN301,NaN,Brisbane,31000.0,Griffith,NaN,NaN,NaN
18523,11196,9464,NORTHGATE MC,QLD,153.074982,-27.397055,NaN,NaN,Updated 25-Mar-2020 SA3,30203.0,...,NaN,Q1,PHN301,NaN,Brisbane,31000.0,Griffith,NaN,NaN,NaN
18524,11197,9726,GOLD COAST MC,QLD,153.412197,-28.008783,NaN,NaN,Updated 25-Mar-2020 SA3,30910.0,...,NaN,Q1,PHN303,NaN,Gold Coast,33430.0,McPherson,NaN,NaN,NaN
18525,23878,9999,NORTH POLE,VIC,144.956776,-37.817403,CITY DELIVERY CENTRE,Delivery Area,Added 1-July-2021,20604.0,...,15.244751,NaN,NaN,NaN,Melbourne,24600.0,Macnamara,NaN,NaN,NaN

In [53]:
suburb, state = 'OVINGHAM', 'SOUTH AUSTRALIA'
suburb = suburb.title()
state = state.title()
df.loc[(df['locality'] == suburb) & (df['state'] == state ), ['lat', 'long'] ]

Empty DataFrame
Columns: [lat, long]
Index: []

In [54]:
suburb

'Ovingham'

In [ ]:
def find_lat_long(suburb, state, country):