In [1]:
import numpy as np
import pandas as pd

In [2]:
df_0 = pd.read_csv('D:/Projects/PowerBI/Vehicle_prices_aus/Aus_vehicles_prices_cleaned_1.csv')

In [3]:
df_0

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Hyundai,2015,Tucson,SUV,2015 Hyundai Tucson Active (fwd),USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,94377,Grey / -,"Mcgraths Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,23888
1,Hyundai,2020,Tucson,SUV,2020 Hyundai Tucson Active (2WD),USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,38341,Blue / Grey,"Granville, NSW",4 cyl,SUV,4 Doors,5 Seats,28984
2,Hyundai,2019,Tucson,SUV,2019 Hyundai Tucson Active (2WD),USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,104066,White / Grey,"Singleton, NSW",4 cyl,SUV,4 Doors,5 Seats,26990
3,Hyundai,2018,Tucson,SUV,2018 Hyundai Tucson Active X (fwd),USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,88501,Silver / Black Leather,"Berwick, VIC",4 cyl,SUV,4 Doors,5 Seats,26495
4,Hyundai,2019,Tucson,SUV,2019 Hyundai Tucson Active X (fwd),USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,23126,Black / -,"Warwick Farm, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16665,BMW,2015,225I,Hatchback,2015 BMW 225I Active Tourer Luxury Line,USED,Automatic,"4 cyl, 2 L",Front,Premium,6.1 L / 100 km,46232,Blue / Black,"Five Dock, NSW",4 cyl,Hatchback,4 Doors,5 Seats,28990
16666,Kia,2014,RIO,Hatchback,2014 Kia RIO S,USED,Manual,"4 cyl, 1.4 L",Front,Unleaded,5.6 L / 100 km,231137,White / Grey,"Ringwood, VIC",4 cyl,Hatchback,3 Doors,5 Seats,10499
16667,Honda,1998,Civic,Hatchback,1998 Honda Civic CXI,USED,Automatic,"4 cyl, 1.6 L",Front,Unleaded,8.4 L / 100 km,206276,Silver / Grey,"Ringwood, VIC",4 cyl,Hatchback,3 Doors,5 Seats,7387
16668,Alfa,2014,Romeo,Hatchback,2014 Alfa Romeo Mito Progression,USED,Automatic,"4 cyl, 1.4 L",Front,Premium,5.5 L / 100 km,215977,Grey / -,"Laverton North, VIC",4 cyl,Hatchback,3 Doors,5 Seats,8999
16669,Toyota,2008,Yaris,Hatchback,2008 Toyota Yaris YR,USED,Manual,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,35000,- / -,"Toowoomba, QLD",4 cyl,Hatchback,3 Doors,5 Seats,11990

In [4]:
new_names = {'Car/Suv':'segment','Brand': 'brand', 'Year': 'year', 'Model':'model', 'Vehicle_type':'vehicle_type', 'Title':'title', 'UsedOrNew':'used_or_new', 'Transmission':'transmission', 'Engine':'engine', 'DriveType':'drive_type', 'FuelType':'fuel_type', 'FuelConsumption':'fuel_consumption', 'Kilometres':'kilometres', 'ColourExtInt':'color_ext_int', 'Location': 'location', 'CylindersinEngine': 'cylinders','BodyType':'body_type', 'Doors':'doors','Seats':'seats','Price': 'price'}
df = df_0.rename(columns=new_names)

In [5]:
df.columns

Index(['brand', 'year', 'model', 'segment', 'title', 'used_or_new',
       'transmission', 'engine', 'drive_type', 'fuel_type', 'fuel_consumption',
       'kilometres', 'color_ext_int', 'location', 'cylinders', 'body_type',
       'doors', 'seats', 'price'],
      dtype='object')

## Analysing Used or new

In [10]:
new_cars = df.loc[df['used_or_new']=='NEW','year']
new_cars.groupby(new_cars.values).count()
# df['used_or_new'].groupby(df['used_or_new'].values).count()

2000      4
2011      1
2021      1
2022    269
2023    916
Name: year, dtype: int64

## Column brand

In [197]:
df['brand'].unique()

array(['Hyundai', 'Mazda', 'Nissan', 'Toyota', 'Lexus', 'Mitsubishi',
       'Kia', 'Honda', 'Ssangyong', 'Chery', 'Subaru', 'BMW', 'MG',
       'Suzuki', 'GWM', 'Skoda', 'Jeep', 'Mercedes-Benz', 'Peugeot',
       'Volvo', 'Land', 'Cupra', 'Ford', 'Volkswagen', 'Renault', 'Haval',
       'Holden', 'Great', 'Mini', 'Jaguar', 'Audi', 'Porsche', 'Alfa',
       'Genesis', 'Citroen', 'Dodge', 'Fiat', 'Mahindra', 'Isuzu', 'LDV',
       'Maserati', 'Tesla', 'BYD', 'Lamborghini', 'HSV', 'FPV', 'McLaren',
       'Ferrari', 'Smart', 'Chevrolet', 'Bentley', 'Infiniti', 'Aston',
       'Chrysler', 'Iveco', 'International', 'Hino', 'Lotus', 'Ineos',
       'Abarth', 'Tata', 'Caterham', 'Foton', 'Daihatsu', 'Ram', 'Datsun',
       'Rover', 'Hummer', 'Saab', 'Packard', 'Geely', 'Polestar',
       'Rolls-Royce', 'Opel', 'Daewoo', 'Proton'], dtype=object)

In [198]:
type(df['brand'])

pandas.core.series.Series

## Column Year

In [199]:
df['year'].unique()

array([2015, 2020, 2019, 2018, 2016, 2017, 2022, 2009, 2021, 2007, 2014,
       2012, 2013, 2011, 2023, 2010, 2008, 2003, 2002, 2000, 2004, 2006,
       2001, 2005, 1999, 1998, 1991, 1990, 1994, 1993, 1996, 1986, 1989,
       1978, 1997, 1995, 1981, 1975, 1959, 1970, 1979, 1992, 1940, 1985,
       1984], dtype=int64)

## Column model

In [200]:
df['model'].unique()

array(['Tucson', 'Kona', 'IX35', 'CX-3', 'CX-5', 'CX-30', 'X-Trail',
       'Dualis', 'Qashqai', 'RAV4', 'UX200', 'Outlander', 'Seltos',
       'CR-V', 'Korando', 'J11', 'Sportage', 'ASX', 'XV', 'Forester',
       'X3', 'HS', 'Grand', 'Haval', 'Karoq', 'X1', 'RX300', 'Patriot',
       'GLC', '3008', 'XC60', '4008', 'Rover', 'Formentor', 'X2',
       'Endura', 'MX-30', 'X5', 'Ateca', 'XC40', 'NX300', 'Escape',
       'Tiguan', 'Koleos', 'H6', 'Compass', 'NX200T', 'Equinox', 'GLC200',
       'Cherokee', 'Wall', 'Captiva', 'Countryman', 'Corolla', 'F-Pace',
       'Q5', 'Outback', 'Q3', 'GLE', 'Kuga', 'E-Pace', 'GLE300', 'Q2',
       'Passat', 'GLA250', 'GLC300', 'GLA45', 'GLA35', 'GLC250', 'T-ROC',
       'GLA', 'SQ2', 'Macan', 'H8', 'Romeo', 'Renegade', 'Vitara',
       'S-Cross', 'C-HR', '2008', 'Juke', 'Ignis', 'Ecosport', 'NX250',
       'GLA180', 'Kamiq', 'H2', 'Captur', 'Kadjar', 'CX-7', 'GV70',
       'NX350', 'Golf', 'Pajero', 'C4', 'Wrangler', 'Patrol',
       'Challenger', 'ML250', 'Nitro', 'Landcruiser', 'GLC220', 'GLA200',
       'GLA220', 'Sorento', 'GLE250', 'Santa', 'Niro', 'NX300H',
       'Eclipse', 'NX350H', 'RX500H', 'Omoda5', 'Arkana', 'Trax', 'HR-V',
       'Stonic', '500X', 'RX270', 'Venue', 'Freemont', 'ZS', 'Cruze',
       'Palisade', 'XUV500', 'CX-8', 'MU-X', 'Fortuner', 'XC90',
       'Everest', 'Trailblazer', 'Pathfinder', 'Colorado', 'Kodiaq',
       'Terracan', 'D90', 'H9', '5008', 'Rexton', 'Glb', 'CX-9', 'FJ',
       'Cayenne', 'LX500D', 'LX600', 'Touareg', 'XC70', 'Maverick',
       'GLE400', 'Kluger', 'XL-7', 'RX330', 'ML350', 'Acadia', 'Journey',
       'Tribeca', 'Adventra', 'Territory', 'RX350', 'RX350L', 'RX450H',
       'RX450HL', 'GV80', 'Jackaroo', 'Murano', 'Commander', 'Q7', 'X7',
       'R300', 'GLS350', 'GLS', 'GL320', 'X6', 'R320', 'GLC43', 'SQ5',
       'ML400', 'Levante', 'Q8', 'Tribute', 'GLE450', 'GLE43', 'ML320',
       'GLE350', 'GLC350', 'G350', 'ML300', 'SQ7', 'Model', 'Yaris', 'RS',
       'EQA', 'GLE63', 'E-Tron', 'Atto', 'EQB', 'EQC', 'IX', 'LX450D',
       'SQ8', 'ML63', 'T-Cross', 'GLC63', 'G63', 'ML500', 'Urus', 'GL500',
       'LX570', 'GL63', 'GLS500', 'LX470', 'X4', 'Puma', 'ZST', 'Jimny',
       'Sierra', 'Ranger', 'BT-50', 'Hilux', 'Gtsr', 'Falcon', 'Pursuit',
       'Maloo', 'Commodore', 'UTE', 'Rodeo', 'Supra', 'RX-8', 'Cayman',
       'R8', '540C', 'F-Type', 'Z', 'AMG', '911', '570S', 'Aventador',
       '612', '370Z', 'Fortwo', 'Corvette', 'C43', 'E400', 'S5', 'M8',
       'Continental', 'GTC4', 'GT-R', '2', 'M440I', 'E500', 'M4',
       'Mustang', 'M2', 'C63', 'M240I', 'M235I', '135I', '435I', 'Monaro',
       'LC500', 'RC350', 'Granturismo', 'S63', '125I', '335I', '323I',
       'RC', 'XKR', 'Q60', 'E350', 'Coupe', '325I', '300ZX', 'Martin',
       'Carnival', 'Tarago', 'MPV', 'Mifa', 'Trajet', 'Celerio', 'C30',
       'GR', 'IS250C', '500', 'HiAce', '3D', 'Taycan', 'Grancabrio', 'Z4',
       '360', 'Xjsc', '720S', 'RS5', 'Sprinter', 'Boxster', '650S',
       'SL55', 'Multivan', 'Alto', 'F430', 'Panamera', 'MB100',
       'Transporter', 'M6', 'CLS500', 'CLS350', 'California', 'SC430',
       'TT', 'CLK320', 'Maybach', 'SL350', 'CLK280', '350Z', '560',
       'Born', 'SL500', 'SLK350', 'Convertible', '5D', 'T3', 'FTS',
       'Stralis', 'Prostar', 'FYJ', 'FSR', 'CX-90', 'Staria', '700',
       'Edeliver', 'Evora', '600LT', 'Eurocargo', '718', '812',
       'Grenadier', 'FVD', 'FYX', 'FVL', 'FRR', 'Deliver', 'E250', '595',
       'Cascada', 'CLC200', 'Veloster', 'Celica', 'A3', 'Cooper',
       'CLS250', 'RCZ', 'MX-5', 'A1', 'C250', 'Master', 'Astra',
       'Integra', 'C180', 'BRZ', 'F', 'Beetle', 'V80', 'CR-Z', 'Paceman',
       'XUV700', 'A5', 'Triton', 'GR86', '207', 'Scorpio-N', 'Imax',
       'Odyssey', 'Viano', 'Granvia', 'V250', 'Avensis', 'Valente',
       'Liberty', 'C220', 'Caddy', 'Iload', 'G10', 'Kangoo', 'Combo',
       'Express', 'Transit', 'Vito', 'Doblo', 'Trafic', 'K2700',
       'Berlingo', 'D-MAX', 'Navara', 'Courier', 'Xenon', '320D', 'C200',
       '220D', '220I', '420D', 'C300', '430I', '86', '420I', '428I',
       'E200', '228I', 'RC200T', 'E300', '230I', 'Civic', 'Crafter',
       'E2000', 'Rondo', 'EOS', 'Scirocco', 'G10+', 'SLC', 'Caravelle',
       'Steed', 'V', 'Cabrio', '118D', '308', 'Stavic', 'Amarok', 'Focus',
       'Expert', 'Seven', 'Elise', 'Aumark', 'NLS', 'Coaster', 'NNR',
       'Daily', 'NPR', '300', 'NLR', 'NMR', 'Trucks', 'NQR', 'FRD',
       'Prius', 'APV', 'Scudo', 'B2500', 'Stagea', 'Elgrand', 'Skyline',
       'Fit', 'Estima', 'Delica', 'Lancer', 'Caldina', 'Leaf', 'Other',
       'Hijet', 'Carry', '180', 'Mr', '1500', 'Noah', 'NV350', 'E20',
       'Cube', 'Alphard', 'Serena', 'Voxy', 'Cerato', 'B-Class', 'Swift',
       '4', 'S-Class', 'Ducato', 'C-CLASS', 'A-CLASS', '1', '5', '3',
       'DS3', 'NX', 'Polo', 'F450', 'Camry', 'A4', 'CT', 'Vellfire',
       'Sai', 'R-Class', 'MG3', 'I30', 'M3', 'MG6', 'Elantra', 'XJ',
       'Cooper_Countryman', 'E-CLASS', 'SX4', 'RX', 'Impreza', '2002',
       'Silvia', '508', 'Crown', 'Xc', 'Calais', '190', 'Ghibli', '6',
       'Stinger', 'Crewman', 'Berlina', 'GS', '250', 'Stanza', 'Sonata',
       'SP23', 'Picanto', 'RIO', 'Pulsar', 'Rav', 'I20', 'Jazz', 'Jetta',
       'Tiida', 'Fiesta', 'Barina', 'Mondeo', 'Accord', 'Megane', 'Micra',
       'Mirage', 'Accent', 'Vezel', 'C3', 'Spark', 'CLK-Class', 'Caravan',
       'Note', 'I8', 'GT40', 'S4', 'Mini', 'S60', 'Crosstrek', 'J3',
       'Roadster', 'Gladiator', 'Tank', 'Jolion', 'Getz', '695', 'Musso',
       '7', 'Every', '2500', 'Midget', 'Superb', 'T60', 'Legacy',
       'M-Class', 'G-Class', 'Sambar', 'X200', 'GL-Class', 'City', 'WRX',
       'Axela', '03-Sep', 'Atlas', 'Flying', 'FPV', 'I45', 'C320',
       'Sebring', '120', 'Airtrek', 'UX', 'Viper', 'I40', 'Tunland', 'MK',
       'C40', 'CX30', 'Fuso', 'V240', 'Colt', 'Ractis', 'Land', 'Tundra',
       'Regius', 'Century', 'Mark', 'Altezza', 'RS4', 'RS6', 'Clubsport',
       'Magna', 'Clubman', 'V50', 'ORA', '320CI', '118I', 'Scala',
       '330CI', 'CLK63', 'CLK500', '218I', '740I', 'Ioniq', 'EV6', 'M5',
       'I-Pace', 'M135I', 'RS3', 'M140I', 'A7', 'Panda', 'V40', 'Laguna',
       'Baleno', 'I3', 'LS500H', 'G70', 'Alpina', 'GV60', 'GLE53', '8',
       'CX-60', 'Mulsanne', 'G80', 'A6', 'LS500', 'Silverado', 'F250',
       'X350', 'Avalanche', 'B4000', 'Ghost', 'S40', 'S65', 'I4', 'EQS53',
       'Fairmont', 'Caprice', 'Statesman', 'Fairlane', 'HDT', '420',
       'GTS', 'LS460', 'E55', 'S450', 'E63', 'XF', 'Senator', '300C',
       'XJ8', 'Arnage', 'Grange', 'GT', 'S430', 'IS350', '330D', 'ES350',
       'GS450H', 'M340I', 'Maxima', 'A8', 'CLS53', 'Quattroporte', 'F6',
       'IS250', 'S350', 'C5', 'S450L', 'ES300', '340I', 'GS350', 'X',
       '530I', 'E53', '740LI', '525I', '730D', 'GS250', '530D', 'IS300',
       'Aurion', '380', 'E240', 'C230', 'Genesis', 'Avalon', 'Altima',
       'Verada', 'Epica', 'Arteon', '128TI', 'PT', 'Mazda3', 'Mazda2',
       'Fabia', 'ES300H', 'IS300H', 'Octavia', 'PIK-UP', 'Marco',
       'Levorg', 'Rapid', 'V60', 'DS4', 'Roomster', 'CLA200', '307',
       '330I', 'CLA45', 'CLA250', '520D', '320I', 'S3', 'ES250', 'A250',
       'XE', 'ZR-V', '520I', '530E', 'X250', 'Actyon', 'Almera', 'A180',
       'Echo', 'Vectra', 'Lanos', 'Laser', 'S16', 'Optima', 'Kizashi',
       'Malibu', 'Viva', '318I', 'A200', 'CLA', '407', '316I', 'Q50',
       'E220', 'C350', 'CC', '328I', 'IS200T', 'CLA35', 'A45', 'A35',
       '120D', '120I', '116I', 'Clio', 'B200', 'CT200H', 'Prius-C',
       'B180', 'B250', '208', 'A190', 'Punto', '323', 'Festiva', '121',
       'Spectra', '225I', '218D', 'Corsa', 'Soul', 'A170', 'Leon'],
      dtype=object)

In [201]:
df['model'].isna().sum()

0

## Column segment

In [202]:
df['segment'].unique()

array(['SUV', 'Ute / Tray', 'Coupe', 'Wagon', 'Hatchback', 'Convertible',
       'Commercial', 'Porsche Centre Perth used', 'Sedan',
       'Audi Alto Artarmon New Cars',
       'Suttons Hyundai Arncliffe- New/Demo', 'Lorbek Luxury Cars Sydney',
       'Peter Warren Jeep', 'Knox Ford & Jeep',
       'Bellbowrie Motor Group New Cars', 'Doncaster Hyundai - NEW',
       'Burwood Nissan New', 'Mornington Nissan', 'AUDI MORNINGTON',
       'AUDI CENTRE MELBOURNE', 'Springwood Nissan New',
       'Rex Gorell Nissan New', 'Macarthur Jeep',
       'Westpoint Autos Nissan & Suzuki New Cars', 'Adelaide City Jeep',
       nan, 'NEW Available to order', 'Sutherland Isuzu Ute',
       'People Mover', 'Rockdale Mazda New', 'Alto Isuzu Ute New Cars',
       'Col Crawford Renault New & Demo', 'Macarthur Renault',
       'Stanmore Mazda', 'Suttons Mitsubishi Arncliffe- New/Demo',
       'Lancaster Automotive Holdings New Cars',
       'Upper Hunter Automotive New Cars',
       'McGrath Mitsubishi Liverpool New Cars', 'Col Crawford Hyundai',
       'Manning Valley Automotive',
       'Barry Bourke GMSV, Suzuki, Renault & LDV New',
       'Manning Valley Automotive - New Cars',
       'Renault NEW Frizelle Sunshine Automotive', 'Toowoomba Mahindra',
       'Mount Gravatt Mazda New', 'Frankston Renault and Isuzu',
       'Westpoint Autos Hyundai New Cars', 'Bay City HSV & Suzuki',
       'Brighton Ssangyong', 'Hillcrest Hyundai New Cars',
       'Brighton Mazda New & Demo', 'Edwardstown Mazda - New',
       'Rex Gorell New Cars', 'Powell Motor Group New & Demo',
       'Main North Renault', 'Wayne Phillis SsangYong',
       'Pickering Auto Group Mitsubishi New Car',
       'Trinity Earlville New Cars', 'Gardner Suzuki',
       'Melville Volkswagen', 'Sutherland Mazda New Cars',
       'Sinclair Hyundai New Cars', 'Liverpool Mazda New Cars',
       'Cardiff Honda Hyundai - New', 'Newcastle SsangYong',
       'Heritage Motor Group Mitsubishi and Suzuki New',
       'Kloster Hyundai Hamilton - New', 'Glendale Mazda New',
       'Gold Coast Hyundai NEW Frizelle Sunshine Automotive',
       'Sunshine Kia NEW Frizelle Sunshine Automotive',
       "Ralph D'Silva Mitsubishi", 'Ipswich Mazda',
       'Alto Volkswagen New Cars', 'Castle Hill Renault',
       'Sydney City Volkswagen New', 'Alto Skoda Artarmon New Cars',
       'Mini Garage Sydney - Used Cars',
       'Sydney City Volkswagen Commercial', 'Bathurst Volkswagen',
       'Mercedes-Benz Peter Warren',
       'Sunshine Volvo NEW Frizelle Sunshine Automotive',
       'Gold Coast Volkswagen Commercial Centre NEW Frizelle Sunshine Automotive',
       'DEMO', 'Doncaster Volkswagen', 'Cricks Highway New & Demo',
       'Mornington Hyundai & MG Used Cars', 'Car Mate Warehouse Ballarat',
       'Adelaide BMW', 'Buckby Motors',
       'Pickering Auto Group LDV New Car',
       'Jackson Motor Company Hobart City',
       'Alto Volkswagen North Shore New Cars',
       'Liverpool Volkswagen New Cars',
       'Robina Volkswagen NEW Frizelle Sunshine Automotive',
       'Gold Coast Skoda NEW Frizelle Sunshine Automotive',
       'Brighton Renault, Suzuki & Nissan New',
       'Sutherland Isuzu Ute - New', 'Redland Mazda New',
       'Sutherland Volkswagen New Cars',
       'Continental Cars Citroen Centre', 'Hunter Valley Motor Group',
       'Geelong MINI New', 'Darwin Motor Group Hyundai',
       'Wanneroo Renault', 'Highway Ford and Hyundai New',
       'Australian Motor Traders', 'Fusion Auto Sales',
       'Japanese Direct Motors', 'Sydney Auto Centre', 'Just Jap - Cars',
       'Zero 007 Pty Ltd', 'Payless Auto Wholesale', 'NEW In stock',
       'Custom Coaster Conversions', 'Dandy cars',
       'CK Vehicle Imports Pty Ltd', 'SYC Cars', 'Auto Bargain Centre',
       'Topcar Rez', 'Destination Auto Sales', 'Stylish Rides',
       'ISASO Vehicles', 'CBP Motors', 'Alto Volkswagen Used Cars',
       'Nippon Motors', 'Redline Motor Group PTY LTD',
       'WHOLESALE MOTOR GROUP', 'Top Auto Group', 'Cumberland Ford',
       'USED Dealer ad', 'Sutherland Mazda Used Cars',
       'Awsum Autos - Car City Minchinbury', 'Automobile Gallery',
       'Southside Auto Wholesale', 'City Car Gallery Pty Ltd (Bankstown)',
       'Purely commercials Bibra Lake', 'Webb Auto Sales',
       'Motoring Group Plus Pty Ltd', 'AUS Vehicle Sales - Bassendean',
       'Global car connect', 'Titan Ford', 'Hills Motor Group',
       'Chatswood Toyota', 'Phillips & Co Automotive',
       'Sydney Luxury Motors', 'Brighton BMW',
       "Berwick Mitsubishi - Melbourne's Used Car Destination",
       'Adelaide Vehicle Centre - Clearance Centre',
       'Greg Watts Motors - Car City Minchinbury', 'Remy Car Company',
       "Wholesale House Brissy's Best Used 4x4 and Commercials",
       'Hot Spot Autos Granville', 'Mornington Mazda',
       'Albion Park Motor Group', 'McMoore Motor Co',
       'Southside Volkswagen used', 'Seymours on Tudor', 'OC Automotive',
       'SJ Wholesale Motors', 'Motor One Garage', 'Prime Wheels.',
       'Central Coast Automotive Gosford',
       'Kloster BMW and MINI Garage - used', 'Canberra Toyota Phillip',
       'Valley Motor Auctions', '4B4 Warehouse', 'McGuinness Motors',
       'Sylvania BMW Used Cars', 'Top Used Cars', 'Jacob Toyota',
       'Wodonga Prestige Volkswagen', 'Stevron Autos',
       'Motor Vehicle Wholesale Dot Com', 'Kinghorn Pre-Owned',
       'CARS 4 YOU', 'Berwick Toyota', 'Market City Motors',
       '03 **** ****', 'Ferntree Gully Automotive',
       'Max Ouzas Prestige Cars', 'Simple Cars', 'South East Commercials',
       'PETER LENNOX AUTOMOTIVE', 'Cars Of Melbourne', 'Lexus of Berwick',
       'Ferntree Gully Hyundai & Kia Used Cars', 'East motors',
       'Von Bibra Group Robina USED', 'Garage Apex Epping',
       'Cheapest Carsales', 'East Coast Commercials - Used',
       'Lorbek Luxury Cars Melbourne', 'Melbourne City Toyota',
       'Wippells Autos', 'Norris Motor Group Volkswagen',
       'Brisbane Car Yard', 'Werribee Jeep', 'Blinkr',
       'Fortis Motor Group', 'Gas Sports Cars', 'Kedron Car Centre',
       'Alpha Car Group', '4x4 Mega Centre', 'Noosa Village Autos',
       'Centenary Motors', 'Melbourne Car Center',
       'Western Highway Honda', '08 **** ****',
       'Bedggoods - Used & Demos', 'Pacific Isuzu Used Cars',
       '07 **** ****', 'REX GORELL FORD', 'The Consignment Centre',
       'Reef City Motors - Used Cars', 'Affordable Motors',
       'CMG Adelaide - Adelaide City Kia, LDV & GMSV',
       'John Hughes Passenger', 'Motor Class', 'Westside Auto Wholesale',
       'Melville Toyota', 'Melville Hyundai Used',
       'Quality Motors pty ltd', 'JPM MOTORS',
       'K.S. & Sons Motor Company', 'Suttons Chullora - Used',
       'United Autos NSW Car City Minchinbury',
       'Xtreme Car Sales Administration Pty Ltd',
       'Hot Spot Autos Granville Commercial and 4x4',
       'Prestige Carsales Luxury SUV', 'Ryde Hyundai',
       'Sun Origin Motors', 'Edward Lees Imports',
       'Andrew Lyall Prestige Cars', 'Oz Autos',
       'Thompson Motor Group - Used', 'Mercedes-Benz Waverley Pre Owned',
       'TCB Bespoke', 'Metro Used Cars Windsor', 'City Jeep - Pre Owned',
       'Australian Vehicle Locators', 'Sydney City Traders',
       'Western City Autos - Car City Minchinbury',
       'Best Buy Autos Prestige', 'Carbarn',
       'Washington Partners Prestige', 'VersionOne Auto',
       'Clancy Motors Used Cars', 'Port Stephens Toyota',
       'Maitland Toyota', 'Valley Cars', 'Seconds Garage',
       'Hollywood Motors', 'LEXUS OF TOOWOOMBA', "LV's Discount Cars",
       'Premium Cars Queensland', 'Hoppers Crossing Motor Garage',
       'Vanswest', 'UniBee Australia', 'Alphamotive',
       'Zupps Aspley Zooper Used Cars', '02 **** ****', "Nick's Motors",
       'Triple F Autos Pty Ltd', 'Capital Honda Used Cars',
       'M1 Used Cars', "Tony's Car Sales", 'CRYSTAL CAR CARE & SALES',
       'Maddington Hyundai', 'John Hughes Group - Auto Warehouse',
       'Easy Wholesale', 'Mr Car', 'RV Motors', 'Kingz Motors',
       'Japan Auto Trading', 'Auto Outlet Direct',
       'Adelaide Vehicle Centre West', 'Gregg Watts Used Cars (CCM)',
       'Autonomos Wyndham', 'Fergusons Toyota South Hurstville',
       'Peter Warren Toyota', 'Harrigan Motor Group Used - Illawarra',
       'Adelaide Vehicle Centre North', 'Peter Warren Ford',
       'Rockdale Mazda', 'CONCORD CAR SALES',
       'Auto Mega Warehouse Dandenong',
       "Tim's Highway Cars - Car City Ringwood",
       'Rap Car Sales - Car City Ringwood',
       'Heritage Auto Group - AL Berwick Pty Ltd', 'Hallam Used Cars',
       'Penfold Motor Group used', 'Redlands Mazda Used',
       'Consign-A-Car P/L (Kedron)', 'Automotive Consultants',
       'Jeff Wignall Ford - Frankston', 'Bay City Holden Used.',
       'The Cheap Car Co Pty Ltd', 'Werribee Hyundai',
       'Unique Cars and Finance', 'Brisbane Auto Group (BAG)',
       'Blue Ribbon Motors',
       'Brisbane City Used Cars T/U: Toowong Automotive',
       'Patterson Cheney Toyota Used Cars', 'First Choice Motors',
       'Blood Toyota', 'Caboolture City Autos', 'Auto Master Car Sales',
       'Morrow Motor Group', 'A Cullen & Son', 'First Choice Freo',
       'Peter Kittle Toyota', 'STEINBORNER GAWLER',
       'western auto wholesales', 'Midland Car Yard', 'Wanneroo Mazda',
       'Australian Car Sales Group - Car City Minchinbury',
       'Wollongong Mazda', 'John Fautley Motors - Car City Ringwood',
       'The car warehouse oakleigh', 'Melbourne Quality Cars',
       'Exclusive Autohaus', 'JR Motors World', 'Bodyfit Autos',
       'Autoproject', 'Parramatta Motor Group (Thomson Ford) - Used',
       'Starline Autos', 'Adelaide Vehicle Centre Commercial',
       'My Car Choice', 'Dominelli Ford', 'Prestige Motor Gallery',
       'Audi Centre Sydney Pre-Owned', 'Melbourne Automobiles Pty Ltd',
       'National Vehicles', 'Pennant Hills Auto Traders - Used',
       'Highlands Garage', 'Adelaide Vehicle Centre Hills',
       'Hove Car Sales Pty Ltd', 'Adelaide Vehicle Centre South',
       'Southern Classic Cars Albion Park', 'Capital Automotive group',
       'Cars from Japan', 'Lennock Hyundai', 'Autohome Australia',
       'Illawarra Used Cars Albion Park',
       'Coffs Harbour Toyota Pre-Owned', 'Orange Toyota (Used)',
       'Wangaratta Motor Group Used',
       'SGM 4x4 & Commercials (Macksville)', 'Fueled up Garage',
       'Traralgon Car City', 'Gold Coast Wholesale Cars', 'Hyon Motors',
       'The Car Place', 'Dream Automotive QLD', 'Cars4us',
       'Blackburn Nissan Used', 'The Car Finance Factory',
       "Brisbane's Cheaper Cars", 'Cheapest Cars Melbourne',
       'Altous Motors', 'Coast 2 Coast Vehicles Pty Ltd',
       'Auto Mega Warehouse Westgate', 'Simply Automotive',
       'Ideal Cars Automotive', 'Autopoint', 'Sunbury Ford',
       'Qld 4x4 Pty Ltd', 'Coastal Car Talk', 'Zoopers Devonport',
       'STEINBORNER BAROSSA', 'Carmart.com.au', 'Hidden Valley Used Cars',
       'Linemac Motors', '3MT True Value Auto', 'Stockman Holden',
       'Prospect Motor Company', 'Sinergy Motorsports',
       'First In Vehicles', 'Carhub Automotive', 'Gardner Passenger',
       'Magic Auto Wholesale', 'Mandurah Mazda',
       'Melville Nissan & Suzuki', 'Youngs WA', 'Madman motors',
       'Wangara MG Used', 'GT Western Autos',
       'Audi Alto Artarmon Used Cars', 'TM Alliance Motors',
       "Uncle Ant's Motors", 'Oldtimer Centre Pty Ltd',
       'Taree City Car Sales', 'SGM 4X4 & Commercials (Armidale)',
       'JZ Motors', 'Gorilla Cars', 'Automotion Used Cars - Sale',
       'Gamers Autos', 'Carsell Pty Ltd', 'Vega Motors',
       'Smile Quality Cars - Car City Minchinbury', 'Wheelz and Wheelz',
       'Sadek - Elderslie', 'Saap Auto', 'Sydney City Lexus',
       'Luxe Autohaus', 'Timmy Car Co Pty Ltd',
       'Sydney City Volkswagen Pre Owned', 'Vehicle Masters',
       'Tony Lahood Motors Croydon', 'Newcastle Vehicle Exchange',
       'Lennock Motors', 'Lexus of Southport',
       'Blacklocks Lavington - Used', 'Berwick Nissan Used Cars',
       'Auto Mega Warehouse Fairfield',
       'Melbourne City Toyota Heidelberg', 'Motorman Imports',
       'Auto Mega Warehouse Brisbane', 'MP AUTOS PTY LTD',
       "Melbourne's Cheapest Cars", 'Toowoomba Automotive Used Cars',
       'Carlin and Gazzard', 'Central West Motors',
       'Jackson Motor Company South Launceston', 'KQ Autos',
       'Darwin Motor Group Used', 'Next Drive Motors',
       'Wayne Phillis Ford', 'Trinity Earlville Used Cars',
       'Freedom Motors', 'Parkland Mazda', 'Perth City Prestige',
       'Magic Deals', 'Auto Market WA', 'MF7 PTY LTD', 'Auzzi Motors',
       'Southern Classic Cars Northside', 'Geoff King Motors',
       'Sunshine Autos', 'Osborne Park Mazda used', 'Auto Dynasty Cars',
       'Liverpool Mazda Used Cars', 'Commercial Buys Pty Ltd',
       'Melbourne Truck and Vans', 'Don Frost Car Sales',
       'Robina USED Frizelle Sunshine Automotive',
       'Valley Ford Traralgon Used', 'Southport Car Sales',
       'BRIGHTON CHRYSLER JEEP USED CARS',
       'Motorama Mitsubishi Moorooka Used', 'Chadstone Toyota',
       'Offroad Pros Pty Ltd', 'South Central Motors', 'ON FOUR WHEELS',
       'Canterbury Commercial', 'CarNet Smithfield',
       'East Coast Commercials Gold Coast', "Tradie's Heaven",
       "Terry's Autos", 'Trilogy Motor Group',
       'SGM 4x4 & Commercials (Inverell)', 'M & G Motors',
       'Windsor Toyota Used', 'Automobex Pty Ltd',
       'Adelaide Hills Toyota', 'Special Vehicle Imports', 'AUTO JAPAN',
       'Pacific Toyota City Used Cars', 'Mega Fleet Sales',
       'The Auto House', 'Lander Toyota Used Cars',
       'Sun Auto Group Five Dock', 'Cosmopolitan Cars - NSW',
       'Newcastles Cheapest Cars Used', 'Big Rock Toyota used',
       'Central Star Autohaus- Waverley', 'Pakenham Toyota',
       'Eastern Subaru', 'Wheelchair Vehicle Sales',
       'Sci-Fleet Indooroopilly', 'Mornington Toyota', 'JDMHQ',
       'Cranbourne Toyota', 'Wacol Wholesale Cars', 'GK Car Sales',
       'Pacific Toyota Used', 'Auto Trend Winnellie',
       'Duttons Murray Bridge Used Cars', 'Rockingham Toyota',
       'MyCar Auto Sales', 'Alto Blacktown MG', 'Dominelli GWM',
       'Macarthur Jaguar', 'Sydney City Skoda',
       'Southern Classic Cars - New & Demo',
       'National Capital Motors New Cars',
       'Ringwood Nissan and MG New & Demo', 'Oldmac MG New',
       'Browns Plains MG New', 'Suzuki In The City - New',
       'Mildura Motor Holdings New/Demos', 'Newspot MG Hampstead Gardens',
       'Newspot MG Salisbury Park', 'Tilford Auto Group Used',
       'Newspot MG Adelaide', 'Adrian Brien Nissan',
       'Newcastle Skoda New', 'Aston Martin Queensland',
       'Von Bibra Helensvale New Cars', 'Other',
       'Bayford Volkswagen Fairfield', 'Alto North Shore MG',
       'Sylvania BMW Demo', 'Carma', 'Gulson Canberra - New & Demo',
       'Miedecke Motor Group - Used', 'Valley Motor Group New',
       'Audi Centre Gold Coast NEW Frizelle Sunshine Automotive',
       'Gold Coast Chrysler Jeep Dodge NEW Frizelle Sunshine Automotive',
       'Caroline Springs Jeep New', 'Geelong BMW New', 'Newspot Jeep',
       'Bundaberg Motors Group Jeep Dodge New', 'TAG Volvo New Cars',
       'Newspot RAM Salisbury Park', 'Northern Vehicle Placements',
       'Miedecke Motor Group - New', 'Northern Rivers RAM',
       'Tweed Volkswagen NEW Frizelle Sunshine Automotive',
       'Gold Coast Volkswagen NEW Frizelle Sunshine Automotive',
       'Springwood MG - New', 'Melville Nissan, Kia & Suzuki - New Cars',
       'Macarthur Suzuki', "Ralph D'Silva Suzuki", 'Brighton MG',
       'Bremer Suzuki - New', 'Q Suzuki - New',
       'Hillcrest Suzuki New Cars', 'Fraser Coast Motor Centre Suzuki',
       'Sunshine Coast Mazda New and Demonstrator',
       'Pickering Auto Group MG New Car', 'Newspot Suzuki Salisbury Park',
       'Peter Warren Suzuki', 'Mini Garage Sydney - New Cars',
       'Inland City Suzuki - New Cars',
       'Lismore NEW Frizelle Sunshine Automotive',
       'Moreton Bay Suzuki - New', 'Toowoomba MG',
       'McGrath Subaru Liverpool New Cars', 'Innes Motors Used Cars',
       'Werribee Mitsubishi New', 'Major Motors - New',
       'Alto Mitsubishi Pennant Hills New Cars',
       'Beaudesert Auto Group New Cars',
       'Suttons Nissan Chullora- New/Demo',
       'Suttons GWM Haval Chullora- New/Demo', 'Ferntree Gully Kia (New)',
       'Springwood GWM HAVAL', 'Hillcrest GWM HAVAL',
       'Westpoint Haval, GWM, Mahindra, SsangYong',
       'Brighton Mitsubishi New', 'Noosa GWM',
       'Newspot Suzuki Hampstead Gardens', 'Ipswich Kia',
       'Southern Vales Nissan', 'Darwin Motor Group MG',
       'CMI Southside - Used', 'Adrian Brien Renault',
       'Southern Vales Renault',
       'Heartland Hyundai Kings Park New & Demo', 'Peter Warren Renault',
       'Shellharbour GWM Haval', 'Kloster Suzuki - New',
       'Blue Mountains Mazda', 'Lexus of Indooroopilly',
       'Pickering Auto Group Hyundai New Car', 'Gardner Isuzu',
       'Kelly Trotter Motor Group Mitsubishi, Suzuki',
       'Robina Mazda NEW Frizelle Sunshine Automotive',
       'Suttons Nissan Arncliffe- New/Demo',
       'Mantello LDV & Suzuki New Cars', 'City Jeep New Cars',
       'Kedron Haval & Great Wall Online',
       'Noosa Auto Group Mazda New Car',
       'Pacific Great Wall Haval Caloundra New', 'Morley GWM',
       'Col Crawford Kia - New & Demo', 'Frankston Nissan New.',
       'Brighton Hyundai', 'Audi Alto MacArthur Used Cars',
       'Valley Ford Traralgon New',
       'National Capital Hyundai, National Capital Mitsubishi',
       "Ralph D'Silva Hyundai", 'Kunda Park Used Cars',
       'REX GORELL VOLKSWAGEN GEELONG New',
       'Pacific Great Wall Haval Caloundra Used',
       'TAG GWM Haval New Cars', 'Audi Barry Bourke',
       'Mantello Hyundai New & Demos',
       "Ralph D'Silva GWM, Haval and Nissan", 'IPSWICH VOLKSWAGEN',
       'Col Crawford LDV - New/Demo', 'Glendale LDV New',
       'Volvo Cars Liverpool', 'Suttons Ford Chullora- New/Demo',
       'Cardiff Volkswagen New', 'Pacific Gympie', 'REX GORELL VOLVO New',
       'VOLVO CARS PERTH - New', 'Lexus of Perth New',
       'Volvo Cars Sutherland New Cars', 'Adelaide City GWM Haval',
       'Country Autos Tamworth New Cars'], dtype=object)

In [203]:
segment_count = df['segment'].groupby(df['segment'].values).count()
segment_count

02 **** ****                     35
03 **** ****                     28
07 **** ****                      5
08 **** ****                     15
3MT True Value Auto              18
                                 ..
Youngs WA                         1
Zero 007 Pty Ltd                  1
Zoopers Devonport                 1
Zupps Aspley Zooper Used Cars     1
western auto wholesales           2
Name: segment, Length: 612, dtype: int64

In [204]:
df['segment'].values

array(['SUV', 'SUV', 'SUV', ..., 'Hatchback', 'Hatchback', 'Hatchback'],
      dtype=object)

In [205]:
segment_count.sort_values(ascending=False)[:15]

SUV                       5918
Hatchback                 2364
Ute / Tray                2067
Sedan                     1898
Wagon                      577
NEW Available to order     436
USED Dealer ad             319
Commercial                 305
Coupe                      257
NEW In stock               112
Convertible                100
DEMO                        67
Nippon Motors               55
Rockdale Mazda New          42
Alto Blacktown MG           37
Name: segment, dtype: int64

In [206]:
# dropping the segmwnt column because its not very useful
df = df.drop(labels = 'segment', axis = 1)
df

,brand,year,model,title,used_or_new,transmission,engine,drive_type,fuel_type,fuel_consumption,kilometres,color_ext_int,location,cylinders,body_type,doors,seats,price
0,Hyundai,2015,Tucson,2015 Hyundai Tucson Active (fwd),USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,94377,Grey / -,"Mcgraths Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,23888
1,Hyundai,2020,Tucson,2020 Hyundai Tucson Active (2WD),USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,38341,Blue / Grey,"Granville, NSW",4 cyl,SUV,4 Doors,5 Seats,28984
2,Hyundai,2019,Tucson,2019 Hyundai Tucson Active (2WD),USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,104066,White / Grey,"Singleton, NSW",4 cyl,SUV,4 Doors,5 Seats,26990
3,Hyundai,2018,Tucson,2018 Hyundai Tucson Active X (fwd),USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,88501,Silver / Black Leather,"Berwick, VIC",4 cyl,SUV,4 Doors,5 Seats,26495
4,Hyundai,2019,Tucson,2019 Hyundai Tucson Active X (fwd),USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,23126,Black / -,"Warwick Farm, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16665,BMW,2015,225I,2015 BMW 225I Active Tourer Luxury Line,USED,Automatic,"4 cyl, 2 L",Front,Premium,6.1 L / 100 km,46232,Blue / Black,"Five Dock, NSW",4 cyl,Hatchback,4 Doors,5 Seats,28990
16666,Kia,2014,RIO,2014 Kia RIO S,USED,Manual,"4 cyl, 1.4 L",Front,Unleaded,5.6 L / 100 km,231137,White / Grey,"Ringwood, VIC",4 cyl,Hatchback,3 Doors,5 Seats,10499
16667,Honda,1998,Civic,1998 Honda Civic CXI,USED,Automatic,"4 cyl, 1.6 L",Front,Unleaded,8.4 L / 100 km,206276,Silver / Grey,"Ringwood, VIC",4 cyl,Hatchback,3 Doors,5 Seats,7387
16668,Alfa,2014,Romeo,2014 Alfa Romeo Mito Progression,USED,Automatic,"4 cyl, 1.4 L",Front,Premium,5.5 L / 100 km,215977,Grey / -,"Laverton North, VIC",4 cyl,Hatchback,3 Doors,5 Seats,8999
16669,Toyota,2008,Yaris,2008 Toyota Yaris YR,USED,Manual,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,35000,- / -,"Toowoomba, QLD",4 cyl,Hatchback,3 Doors,5 Seats,11990

## Column title

In [207]:
df['title']

0               2015 Hyundai Tucson Active (fwd)
1               2020 Hyundai Tucson Active (2WD)
2               2019 Hyundai Tucson Active (2WD)
3             2018 Hyundai Tucson Active X (fwd)
4             2019 Hyundai Tucson Active X (fwd)
                          ...
16665    2015 BMW 225I Active Tourer Luxury Line
16666                             2014 Kia RIO S
16667                       1998 Honda Civic CXI
16668           2014 Alfa Romeo Mito Progression
16669                       2008 Toyota Yaris YR
Name: title, Length: 16670, dtype: object

In [208]:
df = df.drop( labels = 'title', axis=1 )
df

,brand,year,model,used_or_new,transmission,engine,drive_type,fuel_type,fuel_consumption,kilometres,color_ext_int,location,cylinders,body_type,doors,seats,price
0,Hyundai,2015,Tucson,USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,94377,Grey / -,"Mcgraths Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,23888
1,Hyundai,2020,Tucson,USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,38341,Blue / Grey,"Granville, NSW",4 cyl,SUV,4 Doors,5 Seats,28984
2,Hyundai,2019,Tucson,USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,104066,White / Grey,"Singleton, NSW",4 cyl,SUV,4 Doors,5 Seats,26990
3,Hyundai,2018,Tucson,USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,88501,Silver / Black Leather,"Berwick, VIC",4 cyl,SUV,4 Doors,5 Seats,26495
4,Hyundai,2019,Tucson,USED,Automatic,"4 cyl, 2 L",Front,Unleaded,7.9 L / 100 km,23126,Black / -,"Warwick Farm, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16665,BMW,2015,225I,USED,Automatic,"4 cyl, 2 L",Front,Premium,6.1 L / 100 km,46232,Blue / Black,"Five Dock, NSW",4 cyl,Hatchback,4 Doors,5 Seats,28990
16666,Kia,2014,RIO,USED,Manual,"4 cyl, 1.4 L",Front,Unleaded,5.6 L / 100 km,231137,White / Grey,"Ringwood, VIC",4 cyl,Hatchback,3 Doors,5 Seats,10499
16667,Honda,1998,Civic,USED,Automatic,"4 cyl, 1.6 L",Front,Unleaded,8.4 L / 100 km,206276,Silver / Grey,"Ringwood, VIC",4 cyl,Hatchback,3 Doors,5 Seats,7387
16668,Alfa,2014,Romeo,USED,Automatic,"4 cyl, 1.4 L",Front,Premium,5.5 L / 100 km,215977,Grey / -,"Laverton North, VIC",4 cyl,Hatchback,3 Doors,5 Seats,8999
16669,Toyota,2008,Yaris,USED,Manual,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,35000,- / -,"Toowoomba, QLD",4 cyl,Hatchback,3 Doors,5 Seats,11990

## Column used_or_new

In [209]:
df.columns

Index(['brand', 'year', 'model', 'used_or_new', 'transmission', 'engine',
       'drive_type', 'fuel_type', 'fuel_consumption', 'kilometres',
       'color_ext_int', 'location', 'cylinders', 'body_type', 'doors', 'seats',
       'price'],
      dtype='object')

In [210]:
df['used_or_new']

0        USED
1        USED
2        USED
3        USED
4        USED
         ...
16665    USED
16666    USED
16667    USED
16668    USED
16669    USED
Name: used_or_new, Length: 16670, dtype: object

In [211]:
df['used_or_new'].unique()

array(['USED', 'DEMO', 'NEW'], dtype=object)

## Column transmission

In [212]:
df['transmission'].unique()

array(['Automatic', 'Manual', '-'], dtype=object)

In [213]:
df.loc[df['transmission']== '-']

,brand,year,model,used_or_new,transmission,engine,drive_type,fuel_type,fuel_consumption,kilometres,color_ext_int,location,cylinders,body_type,doors,seats,price
6340,Porsche,2022,Taycan,USED,-,0 L,AWD,Electric,0 L / 100 km,9510,"White / Leather Interior, Smooth-Finish Leathe...","Nedlands, WA",0 L,Sedan,4 Doors,4 Seats,339900
6376,Porsche,2022,Taycan,USED,-,0 L,AWD,Electric,0 L / 100 km,2594,White / -,"Rushcutters Bay, NSW",0 L,Sedan,4 Doors,4 Seats,229880
6452,Mini,2023,Convertible,NEW,-,"3 cyl, 1.5 L",Front,Premium,6 L / 100 km,14,5 years / Unlimited km,NaN,3 cyl,Convertible,2 Doors,4 Seats,43680
6453,Porsche,2023,Taycan,NEW,-,0 L,AWD,Electric,0 L / 100 km,14,3 years / Unlimited km,NaN,0 L,Wagon,4 Doors,4 Seats,209600
6454,Porsche,2023,Taycan,NEW,-,0 L,AWD,Electric,0 L / 100 km,14,3 years / Unlimited km,NaN,0 L,Sedan,4 Doors,4 Seats,352600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11906,Volkswagen,2022,T-ROC,DEMO,-,"4 cyl, 2 L",AWD,Premium,8.3 L / 100 km,21,Silver / Black,"Liverpool, NSW",4 cyl,SUV,4 Doors,5 Seats,62990
11960,Volkswagen,2022,T-ROC,NEW,-,"4 cyl, 2 L",AWD,Premium,8.3 L / 100 km,18,Blue / Black Grey,"Southport, QLD",4 cyl,SUV,4 Doors,5 Seats,60990
11972,Volkswagen,2022,T-ROC,NEW,-,"4 cyl, 2 L",AWD,Premium,8.3 L / 100 km,14,Black / -,"Liverpool, NSW",4 cyl,SUV,4 Doors,5 Seats,60990
12022,Lexus,2023,ES300H,NEW,-,"4 cyl, 2.5 L",Front,Hybrid,4.8 L / 100 km,14,"4 years / 100,000 km",NaN,4 cyl,Sedan,4 Doors,5 Seats,73290
12023,Lexus,2023,ES300H,NEW,-,"4 cyl, 2.5 L",Front,Hybrid,4.8 L / 100 km,14,"4 years / 100,000 km",NaN,4 cyl,Sedan,4 Doors,5 Seats,77520

In [214]:
df['transmission'] = df['transmission'].replace(to_replace='-' ,value=np.nan)

In [215]:
df.loc[df['transmission']== '-']

Empty DataFrame
Columns: [brand, year, model, used_or_new, transmission, engine, drive_type, fuel_type, fuel_consumption, kilometres, color_ext_int, location, cylinders, body_type, doors, seats, price]
Index: []

In [216]:
type(df.loc[df['transmission'].isna()]['transmission'][6340]) # checking for correct change to nan

float

## Column engine

In [217]:
df['engine']

0          4 cyl, 2 L
1          4 cyl, 2 L
2          4 cyl, 2 L
3          4 cyl, 2 L
4          4 cyl, 2 L
             ...
16665      4 cyl, 2 L
16666    4 cyl, 1.4 L
16667    4 cyl, 1.6 L
16668    4 cyl, 1.4 L
16669    4 cyl, 1.3 L
Name: engine, Length: 16670, dtype: object

In [218]:
# # Checking if all values in the col are of the regex of num of cylinders and capacity in litres
df['engine'].str.fullmatch(r'\d{1,2} cyl, \d+(?:\.\d+)? L').all()

False

In [219]:
# What are the values that dont conform to the pattern
df.loc[ ~df['engine'].str.fullmatch(r'\d{1,2} cyl, \d+(?:\.\d+)? L')]['engine'].unique()

array(['0 L', '4 cyl', '-', '2 L'], dtype=object)

In [220]:
# 1763 messy rows in engine column
df.loc[ ~df['engine'].str.fullmatch(r'\d{1,2} cyl, \d+(?:\.\d+)? L')]['engine'].count()

1763

In [221]:
# Which entries have engine 0l but non electric engine
df.loc[(df['engine'] == '0 L') & ~(df['fuel_type'] == 'Electric')]

# Google search shows NISSAN LEAF is an electric car.

,brand,year,model,used_or_new,transmission,engine,drive_type,fuel_type,fuel_consumption,kilometres,color_ext_int,location,cylinders,body_type,doors,seats,price
7936,Nissan,2017,Leaf,USED,Automatic,0 L,Front,-,-,40900,Grey / Black,"Allenstown, QLD",0 L,Hatchback,5 Doors,NaN,27200

In [222]:
# Change entry 7936 engine value to NaN
df.loc[7936, 'engine'] = np.nan
df['engine'][7936]

nan

In [223]:
# Changing all -'s to NaN'
df.loc[(df['engine'] == '-')] = np.nan

In [224]:
# Entry 6637 
df.loc[df['engine'] =='4 cyl']

,brand,year,model,used_or_new,transmission,engine,drive_type,fuel_type,fuel_consumption,kilometres,color_ext_int,location,cylinders,body_type,doors,seats,price
6637,Mahindra,2023.0,XUV700,DEMO,Automatic,4 cyl,Front,-,8.3 L / 100 km,83.0,Red / White,"Toowoomba, QLD",4 cyl,SUV,4 Doors,7 Seats,40290.0

In [225]:
# ENTRY  10029 
df.loc[df['engine'] =='2 L']

,brand,year,model,used_or_new,transmission,engine,drive_type,fuel_type,fuel_consumption,kilometres,color_ext_int,location,cylinders,body_type,doors,seats,price
10029,Audi,2023.0,A4,NEW,NaN,2 L,AWD,Diesel,4.9 L / 100 km,14.0,5 years / Unlimited km,NaN,2 L,Wagon,4 Doors,5 Seats,78000.0

## Column cylinder_capacity

In [226]:
cyl_capacity = pd.Series()

In [227]:
cyl_capacity = df['engine'].str.strip().str.extract(r'[\s,]+(\d*\.?\d+)\s*L\b', expand=False).astype(float)

In [228]:
cyl_capacity.isna().sum() # We have 1763 NaN values consistent with the count we found not following the regex patterm

1763

In [229]:
df['cylinder_capacity'] = cyl_capacity

In [230]:
df.drop(labels='engine', axis=1,inplace=True)

## Column drive_type

In [231]:
df['drive_type'].unique()

array(['Front', 'AWD', '4WD', 'Rear', 'Other', nan], dtype=object)

In [232]:
df.loc[df['drive_type'] == 'Other']

,brand,year,model,used_or_new,transmission,drive_type,fuel_type,fuel_consumption,kilometres,color_ext_int,location,cylinders,body_type,doors,seats,price,cylinder_capacity
7293,Mini,2016.0,Cooper,USED,Automatic,Other,Premium,5.8 L / 100 km,58420.0,Black / Black,"Waterloo, NSW",4 cyl,Hatchback,2 Doors,4 Seats,35900.0,2.0
7321,Mini,2016.0,Cooper,USED,Manual,Other,Premium,5.8 L / 100 km,128086.0,Black / Leather,"Lismore, NSW",4 cyl,Hatchback,2 Doors,4 Seats,29990.0,2.0
7917,Toyota,2009.0,RAV4,USED,Automatic,Other,-,-,179643.0,Gold / Grey,"Leichhardt, NSW",4 cyl,Wagon,4 Doors,NaN,12990.0,2.4
7932,Toyota,2010.0,RAV4,USED,Manual,Other,-,-,238000.0,White / -,"Archerfield, QLD",4 cyl,Wagon,4 Doors,NaN,12500.0,2.4
7934,Toyota,2009.0,RAV4,USED,Manual,Other,-,-,166000.0,Black / -,"Gepps Cross, SA",4 cyl,Wagon,4 Doors,NaN,14990.0,2.4

In [233]:
df['drive_type'] = df['drive_type'].replace(to_replace='Other' ,value=np.nan)

In [234]:
df['drive_type'].unique()

array(['Front', 'AWD', '4WD', 'Rear', nan], dtype=object)

## Column fuel_type

entry #7936 nissan leaf is electric

In [235]:
df['fuel_type'].unique()

array(['Unleaded', 'Diesel', 'Premium', 'Hybrid', '-', 'Electric', 'LPG',
       'Leaded', nan, 'Other'], dtype=object)

In [236]:
# Change missing values to nan
df['fuel_type'] = df['fuel_type'].replace(to_replace = '-', value = np.nan)
df['fuel_type'].unique()

array(['Unleaded', 'Diesel', 'Premium', 'Hybrid', nan, 'Electric', 'LPG',
       'Leaded', 'Other'], dtype=object)

## Column fuel_consumption

In [237]:
df['fuel_consumption']

0        7.9 L / 100 km
1        7.9 L / 100 km
2        7.9 L / 100 km
3        7.9 L / 100 km
4        7.9 L / 100 km
              ...
16665    6.1 L / 100 km
16666    5.6 L / 100 km
16667    8.4 L / 100 km
16668    5.5 L / 100 km
16669      6 L / 100 km
Name: fuel_consumption, Length: 16670, dtype: object

In [238]:
# Check sanity
df['fuel_consumption'].str.fullmatch(r'(\d+(?:\.\d+)?)\s*L\s*/\s*100\s*km').all()

False

In [239]:
df['fuel_consumption'].str.fullmatch(r'(\d+(?:\.\d+)?)\s*L\s*/\s*100\s*km')

0        True
1        True
2        True
3        True
4        True
         ...
16665    True
16666    True
16667    True
16668    True
16669    True
Name: fuel_consumption, Length: 16670, dtype: object

In [240]:
pattern_conforming_boolean = df['fuel_consumption'].str.fullmatch(r'(\d+(?:\.\d+)?)\s*L\s*/\s*100\s*km').astype('bool')

In [241]:
df['fuel_consumption'].loc[(~pattern_conforming_boolean)].unique()

array(['-'], dtype=object)

In [242]:
df['fuel_consumption'] = df['fuel_consumption'].replace(to_replace='-', value = np.nan)

In [243]:
df['fuel_consumption'].loc[(~pattern_conforming_boolean)].unique()

array([nan], dtype=object)

## Column kilometres

In [244]:
df['kilometres']

0         94377.0
1         38341.0
2        104066.0
3         88501.0
4         23126.0
           ...
16665     46232.0
16666    231137.0
16667    206276.0
16668    215977.0
16669     35000.0
Name: kilometres, Length: 16670, dtype: float64

In [245]:
(df['kilometres'] > 0).pipe(all)

False

## Column color_ext_int

In [246]:
df['color_ext_int']

0                      Grey / -
1                   Blue / Grey
2                  White / Grey
3        Silver / Black Leather
4                     Black / -
                  ...
16665              Blue / Black
16666              White / Grey
16667             Silver / Grey
16668                  Grey / -
16669                     - / -
Name: color_ext_int, Length: 16670, dtype: object

In [247]:
df[['exterior_clr', 'interior_clr']]  = df['color_ext_int'].str.extract(r'^\s*(.*?)\s*\/\s*(.*?)\s*$')

In [248]:
df['exterior_clr'].unique()

array(['Grey', 'Blue', 'White', 'Silver', 'Black', 'Red', '-', 'Brown',
       'Orange', 'Green', 'Yellow', 'Gold', 'Bronze', 'Beige', 'Burgundy',
       'Purple', 'Other', '5 years', '3 years', '7 years', '2 years',
       '1 years', '6 years', nan, 'Pink', '4 years', 'Turquoise', 'Cream'],
      dtype=object)

In [249]:
non_colors = {'-', 'Other', '5 years', '3 years', '7 years', '2 years',
              '1 years', '6 years', '4 years'}

df['exterior_clr'] = df['exterior_clr'].replace( to_replace = non_colors, value = np.nan )

df['exterior_clr'].unique()

array(['Grey', 'Blue', 'White', 'Silver', 'Black', 'Red', nan, 'Brown',
       'Orange', 'Green', 'Yellow', 'Gold', 'Bronze', 'Beige', 'Burgundy',
       'Purple', 'Pink', 'Turquoise', 'Cream'], dtype=object)

In [250]:
df['interior_clr'].unique()

array(['-', 'Grey', 'Black Leather', 'Black Cloth', 'Black', 'Cloth',
       'Leather', 'Ivory', 'Standard Trim', 'Grey Cloth', 'Grey/ Navy',
       'Grey  Cloth', 'Black  Cloth', 'Black/Black', 'Slate',
       'Black Heated Leather', 'Stnd', '2020/02', '2021/05',
       'Black One Tone', 'Black Fabric', 'Black With Red Trim',
       'Black & Grey Cloth', '2018/03', 'Stoff',
       'Vernasca Black Leather & Decor Stitching', 'Black/Cloth',
       'Leather Nevada Black', 'Leather Vernasca Bla', 'Petrol Blue',
       'Beige', 'Grey Leather', 'Ebony',
       'Leather Vernasca Design Perforated Cognac', 'Artico Black',
       'Black Artico', 'Black Leather   Cloth', 'Black Sports Cloth',
       'Windsor Leather', 'Brown', 'Tan Leather', 'Red', 'Black And Blue',
       '2019/01', '2018/12', 'No Descripti', 'Ebony Grained Leather',
       'Silicon Silver', 'Santorini Black', '2016/09', 'Grey / Leather',
       'Rapton', 'Cloth Rapton', 'Pistachio Beige',
       'Titanium Black-Ceramique Cloth', 'Black Leather & Red Stitching',
       'Tan', 'White', 'Black Sports Leather', 'Beige Leather',
       'Lava Black L', '2017/07', 'Soul Black/Flint Grey', 'Car',
       'Burgandy', 'Titanium Black & Crystal Grey', '2016/11', '2019/12',
       '2020/06', 'Titanium Black', '2020/01', 'Black Grey', 'R Line',
       'Black Oak-Ceramique', 'Fz/Black', '2Xlg22',
       'Black Leather Accented', 'Grey & Black', 'Blue', 'Dark Grey',
       '2016/08', 'Biege', '2021/04', 'Black / Gr', 'Beige  Leather',
       'Black And Cream', '2Xfl24', 'Black/Red', '2021/07', 'Silver',
       'Wk', 'Red Leather', 'Gray', 'Cloth/Leather', 'Leather Black',
       'Black Fabric Sports', '2019/09', '2018/09', 'Dark Grey Cloth',
       'Bc', '2020/07', 'Cream', '20', 'Grey7/20', 'Black Nappa Leather',
       'Gt Line Leat', 'Grey Partial Leather', 'Partial Leather Trim',
       'Ebony Leather', '2019/07', 'Ebony P375-H', 'Ebony Mason',
       'Cream Leather', 'Black / Leather', '42Lh22', 'Moon Mist Grey',
       'Grey Fabric', 'Jet Black', 'Burgundy', 'Fabric', 'Brown Leather',
       '2019/08', '24X', '2019/05', 'Club Leather Truffle Brown', 'Le',
       'Black Synthetic Leather', 'Velour', 'Black & Grey Leather',
       'Leather Interior With Alcantar', 'Black Suede & Black Stitching',
       'Parchment', 'Grey/Black', '9Tld20', 'F Sport Black',
       'Black-Black-Rock Gray', 'Dakota Black Leather', 'Nougat Brown',
       'Charcoal', 'Dakota Leather', 'Red & Black Leather',
       'Ebony Seats/Ebony Interior/Ebony Headlining', 'Charcoal Leather',
       '40Fa60', 'Dark Brown F', 'Leatherette Carbon B',
       'Sensafin Dekorgesteppt', 'Black And Red',
       'River Rock Soho Leather',
       'Extended Partial Leather Interior, Seat Centres In Fabric, Black',
       '9Meb20', 'C- Court/B', '2022/01',
       "Bmw Individual Extended Leather Trim 'Merino' Fion", '74Fb20',
       'Embossed Pattern Black Fabric', 'Grey & Black Fabric',
       'Black/Leather', '2022/07', 'Black Leather And Orange Trim',
       'Black Softex W', '7Efa20', '74Eb20', '74La20', 'Black Softex',
       'Shadow Grey', 'Black Leather Sports',
       'Black/Ikazuchi Yellow Cloth', 'Black Amg Leather',
       'Leather Dakota Black',
       'Ebony Interior Trend Mni Perf Ov Milled Pbl', 'Natural Beige',
       'Two Tone Leather', 'Grege', 'Black & Cream Leather', '2015/06',
       'Off Black', 'Leather Interior, Smooth-Finish Leather, Black',
       'Carbon Black Leatherette', 'Asher Gray',
       'Mini Yours Leather Lounge Carbon Black', 'Pale Grey Leather',
       'Partial Leather Interior, Black', 'Khaki', 'Red Carpet T',
       'Blue Dinamica', 'Anthracite Grey Leather', 'Unlimited km',
       '60,000 km', '200,000 km', '500,000 km', '150,000 km',
       '600,000 km', '300,000 km', '160,000 km', '250,000 km',
       '100,000 km', 'Tobacco', 'Walnut Brown Nappa Leather',
       'Diamond Black', 'Chroma Brown Leather', 'Burgundy Leather',
       'Black Microsuede & Leather', 'Black Microsuede & Leatherette',
       'Gts Interior Package Crayon', 'Fabric Black', 'Grey Trim',
       'Black/Grey', 'Chestnut',
       'Titanium Black/Titanium Black/Black/Storm Gray', 'Black Nappa',
       'Black Fabric W/ Red', 'Graphite & Saturn Black', 'Black/Beige',
       'Black/Cream Leather', '2022/09', 'Art Gray', '2018/07', '2021/06',
       '2018/05', 'Grey Vinyl', '1Yfj20', 'Grey Sport Cloth',
       'Storm Grey', 'Mini Yours Leather Lounge', 'Sportline',
       'Titanium Black Cloth', 'Ebony C',
       'Titanium Black Cloth & Leather', 'Black Lugano Leather',
       '2020/11', 'Leather Loun', 'Black & Red Cloth', 'Nappa Charcoal',
       '10,000 km', nan, 'Beige Cloth', 'Knight Black',
       'Charcoal Comfort', 'Black Alcantara', 'Standardleather',
       'Black Trim', 'Obsidian Black', 'Knight Black Synthetic Leather',
       'Soul Black', 'Dark',
       "Excl.leather 'Nappa' Mocca Excl. S Titching/Leathe",
       'Paranut Brown/Black Dash 2T', 'Titanium Black Vienna Leather',
       'Black/Express Red Stitching', 'Nappa Leather',
       "Full Leather 'Merino' Aragon Brown", 'R-Line Soul Black',
       'Leather - Off Black', 'Titanium Black & Ceramic',
       'Black Partial Leather', '3Lfc20', 'Sensatec 1',
       'Black & Brown Cloth', 'Titanium Black-Brown-Orange', '2019/10',
       'Ebony Leathe', 'Penta Fabric', '2018/10', 'Ebony Circuit Fabric',
       'Sage Caliber Fabric', 'Dark Grey Leather', 'Nappa Leather Black',
       'Black/Grey Cloth', 'Amg Black Nappa Leather',
       'Black Exclusive Nappa', 'Montana Grey Leather', 'Creme',
       'Nexus Dark Grey', 'Atomic - Black', 'Part Leather', 'Block',
       '2016/04', 'Black & Blue', 'Charcoal Grey Cloth', 'Null',
       'Classic Grey/Black', 'Black Leather/Suede',
       'Tartan Cloth & Knight Synthetic Leather', 'Recaro-Fs-Alcantara',
       'Black & Grey Tartan', 'Alcantara(R) Upholst',
       'Black & Red Cloth & Sensatec', 'Leather Cross Punch Carbon Black',
       'Silver And Black Silk Nappa', 'Black R-Line',
       'Alcantara-Red/Grey Stitch', 'Carbon Black Dinamica/Leather',
       'Soul Black & Tornado Red',
       'Soul Black/Soul Black/Black/Storm Gray',
       'Black/Tan Orange Leather', 'Blue/Black', 'Black Maztex/Cloth',
       'Black/Green', 'Black Leatherette', 'Dark Charcoal Leath', '-Le02',
       'Black Cloth/Vinyl', 'Pearl Beige', 'Black & Driftwood Leather',
       'Dark Russet Leather', 'Charcoal Cloth',
       'Artico Man-Made Leather Sports Seat Black', 'Alcantara',
       'Leather Black , Black', '2017/05', 'Partial Leather',
       'Leather And Suede', '2018/02',
       'Black Alcantara & Sensatec & Contrast Stitching', 'Titan Black',
       'Rs', 'Leather Dakota Black Exclusive Stitching',
       'Black/Pale Grey/Black Leather', 'Style', 'Black-Blue',
       'Carbon Black', 'Perforated Charcoal Leather', 'Cloth Ray',
       'R-Design Nubuck', 'Suede', 'Black Roof',
       'Leather Charcoal/Charcoal/Blond Headlining', 'Circuit Fabric',
       'Cloth/Clot', 'Pure White.', 'Ebony Leather 1', 'Ebony Cloth',
       'White. Grey', '88H', '13X', 'Mmajykl10Jh022022', 'Black Sports',
       'Gfrey', '2018/11', '2Lle21', 'C2Fe20', '1Yfk20', '1Yla20',
       'Black Artico Dinamica', 'Dark Grey & Blue', '2022/02', '2016/06',
       'Grey Velour', 'Cream Beige', 'Bone', 'Black Dinamica',
       'F Sport Black/Hadori Aluminium', 'By3', '2015/01', '2Vfa20',
       '2Zfa20', '2023/01', 'Black Dakota Leather',
       'Ebony Windsor Sports Leather/Ebony/Ebony', 'Black & Red Leather',
       'Black/Grey Leather', '2022/05', 'Camel', 'Black & Light Grey',
       '2016/01', 'Champagne', 'Charcoal Black Cloth', 'Hx', '44Fa20',
       'Black Yellow', 'Tartan',
       'Artico Man-Made Leather / Dinamica Microfibre Upholstery Black',
       '2019/04', '2018/08', 'By7-L', '3Sfj20', 'Cloth Twist Freedom',
       '3Lfe20', 'Bk', 'Blck', 'Red Cloth', 'Black & Gray',
       'Leather 47807', '4Efa20', 'Grey Cloth Seats', '=', '2020/12',
       'Black Current', 'Led.dakota M', 'Blue / Grey'], dtype=object)

In [251]:
df['interior_clr'].groupby(df['interior_clr'].values).count().sort_values(ascending=False)

-                                6833
Black                            4388
Grey                             1285
Unlimited km                      310
Cloth                             284
                                 ...
Black Trim                          1
Black Synthetic Leather             1
Black Suede & Black Stitching       1
Black Sports Leather                1
Wk                                  1
Name: interior_clr, Length: 390, dtype: int64

In [252]:
df.drop(labels='color_ext_int', axis = 1, inplace=True)

## Column Interior Color

In [253]:
df['interior_clr'].groupby(df['interior_clr'].values).count().sort_values(ascending=False)[:10]

-                6833
Black            4388
Grey             1285
Unlimited km      310
Cloth             284
Black Leather     280
Leather           237
Black Cloth       145
Beige              76
Grey  Cloth        44
Name: interior_clr, dtype: int64

In [254]:
df.drop(labels='interior_clr',axis=1, inplace=True )

In [255]:
df.columns

Index(['brand', 'year', 'model', 'used_or_new', 'transmission', 'drive_type',
       'fuel_type', 'fuel_consumption', 'kilometres', 'location', 'cylinders',
       'body_type', 'doors', 'seats', 'price', 'cylinder_capacity',
       'exterior_clr'],
      dtype='object')

## Column location

In [256]:
df['location']

0         Mcgraths Hill, NSW
1             Granville, NSW
2             Singleton, NSW
3               Berwick, VIC
4          Warwick Farm, NSW
                ...
16665         Five Dock, NSW
16666          Ringwood, VIC
16667          Ringwood, VIC
16668    Laverton North, VIC
16669         Toowoomba, QLD
Name: location, Length: 16670, dtype: object

In [257]:
# Extracts two new columns: suburb and state
df[['suburb', 'state']] = df['location'].str.extract(r'^\s*(.+?),\s*([A-Z]{2,})\s*$')

In [258]:
df['state']

0        NSW
1        NSW
2        NSW
3        VIC
4        NSW
        ...
16665    NSW
16666    VIC
16667    VIC
16668    VIC
16669    QLD
Name: state, Length: 16670, dtype: object

In [259]:
df['suburb']

0         Mcgraths Hill
1             Granville
2             Singleton
3               Berwick
4          Warwick Farm
              ...
16665         Five Dock
16666          Ringwood
16667          Ringwood
16668    Laverton North
16669         Toowoomba
Name: suburb, Length: 16670, dtype: object

In [260]:
df.drop(labels='location', axis=1, inplace=True)

## Column Cylinders

In [261]:
df['cylinders']

0        4 cyl
1        4 cyl
2        4 cyl
3        4 cyl
4        4 cyl
         ...
16665    4 cyl
16666    4 cyl
16667    4 cyl
16668    4 cyl
16669    4 cyl
Name: cylinders, Length: 16670, dtype: object

In [262]:
df['cylinders'].unique()

array(['4 cyl', '6 cyl', '3 cyl', '8 cyl', '0 L', '5 cyl', '2 cyl',
       '12 cyl', '10 cyl', nan, '2 L'], dtype=object)

In [263]:
invalid_values = {'0 L', '2 L'}
df['cylinders'] = df['cylinders'].replace( to_replace = invalid_values, value = np.nan )
df['cylinders'].unique()

array(['4 cyl', '6 cyl', '3 cyl', '8 cyl', nan, '5 cyl', '2 cyl',
       '12 cyl', '10 cyl'], dtype=object)

In [264]:
df['cylinders'] = df['cylinders'].str.extract(r'(\d+)')
df['cylinders']

0        4
1        4
2        4
3        4
4        4
        ..
16665    4
16666    4
16667    4
16668    4
16669    4
Name: cylinders, Length: 16670, dtype: object

In [265]:
df['cylinders'].unique()

array(['4', '6', '3', '8', nan, '5', '2', '12', '10'], dtype=object)

## Column body_type

In [266]:
df['body_type'].unique()

array(['SUV', 'Ute / Tray', 'Coupe', 'Wagon', 'Hatchback', 'Convertible',
       'Commercial', 'Sedan', 'Other', 'People Mover', nan], dtype=object)

In [267]:
df['body_type'].unique()[-1]

nan

In [268]:
df['body_type'] = df['body_type'].replace(to_replace = 'Ute / Tray', value='Ute')

In [269]:
df['body_type'].unique()

array(['SUV', 'Ute', 'Coupe', 'Wagon', 'Hatchback', 'Convertible',
       'Commercial', 'Sedan', 'Other', 'People Mover', nan], dtype=object)

## Column Doors

In [270]:
df['doors'] = df['doors'].str.extract(r'(\d+)')

In [271]:
df['doors'].unique()

array(['4', '5', '2', '3', nan], dtype=object)

## Column Seats

In [272]:
df['seats'].unique()

array([' 5 Seats', ' 7 Seats', ' 4 Seats', ' 8 Seats', ' 6 Seats',
       ' 11 Seats', ' 2 Seats', ' 3 Seats', nan, ' 14 Seats', ' 9 Seats',
       ' 12 Seats', ' 15 Seats', ' 22 Seats'], dtype=object)

In [273]:
df['seats'] = df['seats'].str.extract(r'(\d+)')

In [274]:
df['seats'].unique()

array(['5', '7', '4', '8', '6', '11', '2', '3', nan, '14', '9', '12',
       '15', '22'], dtype=object)

## Column price

In [275]:
df['price']

0        23888.0
1        28984.0
2        26990.0
3        26495.0
4        34990.0
          ...
16665    28990.0
16666    10499.0
16667     7387.0
16668     8999.0
16669    11990.0
Name: price, Length: 16670, dtype: float64

In [276]:
df['price'].isna().sum()

1655

In [277]:
df

,brand,year,model,used_or_new,transmission,drive_type,fuel_type,fuel_consumption,kilometres,cylinders,body_type,doors,seats,price,cylinder_capacity,exterior_clr,suburb,state
0,Hyundai,2015.0,Tucson,USED,Automatic,Front,Unleaded,7.9 L / 100 km,94377.0,4,SUV,4,5,23888.0,2.0,Grey,Mcgraths Hill,NSW
1,Hyundai,2020.0,Tucson,USED,Automatic,Front,Unleaded,7.9 L / 100 km,38341.0,4,SUV,4,5,28984.0,2.0,Blue,Granville,NSW
2,Hyundai,2019.0,Tucson,USED,Automatic,Front,Unleaded,7.9 L / 100 km,104066.0,4,SUV,4,5,26990.0,2.0,White,Singleton,NSW
3,Hyundai,2018.0,Tucson,USED,Automatic,Front,Unleaded,7.9 L / 100 km,88501.0,4,SUV,4,5,26495.0,2.0,Silver,Berwick,VIC
4,Hyundai,2019.0,Tucson,USED,Automatic,Front,Unleaded,7.9 L / 100 km,23126.0,4,SUV,4,5,34990.0,2.0,Black,Warwick Farm,NSW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16665,BMW,2015.0,225I,USED,Automatic,Front,Premium,6.1 L / 100 km,46232.0,4,Hatchback,4,5,28990.0,2.0,Blue,Five Dock,NSW
16666,Kia,2014.0,RIO,USED,Manual,Front,Unleaded,5.6 L / 100 km,231137.0,4,Hatchback,3,5,10499.0,1.4,White,Ringwood,VIC
16667,Honda,1998.0,Civic,USED,Automatic,Front,Unleaded,8.4 L / 100 km,206276.0,4,Hatchback,3,5,7387.0,1.6,Silver,Ringwood,VIC
16668,Alfa,2014.0,Romeo,USED,Automatic,Front,Premium,5.5 L / 100 km,215977.0,4,Hatchback,3,5,8999.0,1.4,Grey,Laverton North,VIC
16669,Toyota,2008.0,Yaris,USED,Manual,Front,Unleaded,6 L / 100 km,35000.0,4,Hatchback,3,5,11990.0,1.3,NaN,Toowoomba,QLD

## Serialization of data

In [279]:
df.to_csv('D:/Projects/PowerBI/Vehicle_prices_aus/aus_vehicle_prices_cleaned.csv')

NameError: name 'df' is not defined